
  /* Font dan background global */
  body {
    font-family: Arial, sans-serif;
    background-color: #000;
     /*display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;*/
    margin: 0;
  }

  .content {
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 20px;
    position:fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Desain Tiket Antrian */
  .queue-ticket {
    /*background: linear-gradient(135deg, #ff7b00, #ff5f00);*/
    background:  #FFF;
    width: 300px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  /* Header tiket */
  .ticket-header h2 {
    font-size: 1.6em;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  /* Bagian nomor antrian */
  .queue-number h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .queue-number p {
    font-size: 2em;
    font-weight: bold;
    color: #000;
    margin-top: 5px;
  }
  
  /* Bagian status antrian */
  .queue-status h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .queue-status p {
    font-size: 1.5em;
    margin-top: 5px;
  }
  
  /* Footer tiket */
  .ticket-footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #000;
  }
  
  .ticket-footer p {
    font-style: italic;
  }
  
  /* Efek animasi untuk perubahan status */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Gaya saat status berubah */
  #queue-status {
    animation: fadeIn 1s ease-in-out;
  }
  